<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Расчет {{data?.chosen?.code}}</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-segment [(ngModel)]="calcCurrs">
        <ion-segment-button value="rubles">
            В рублях
        </ion-segment-button>
        <ion-segment-button value="dollars">
            В дол.США
        </ion-segment-button>
    </ion-segment>

    <div [ngSwitch]="calcCurrs">
        <ion-card>
            <ion-card-header>
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            Итого
                        </ion-col>
                        <ion-col text-right *ngSwitchCase="'rubles'">
                            {{data.calculation.payments_summa_rub | number:'3.2-2'}}
                        </ion-col>
                        <ion-col text-right *ngSwitchCase="'dollars'">
                            {{data.calculation.payments_summa_usd | number:'3.2-2'}}
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-header>
            <ion-card-content>
                <ion-grid>
                    <ion-row *ngFor="let p of data.calculation.payments">
                        <ion-col col-7 class="alt-rate-name">
                            {{p.name}} <span class="alt-rate-hint" (click)="showRateHint(p.name,p.rate)">&nbsp;?&nbsp;</span>
                        </ion-col>
                        <ion-col col-5 text-right *ngSwitchCase="'rubles'">
                            {{p.summa_rub | number:'2.2-2'}}
                        </ion-col>
                        <ion-col col-5 text-right *ngSwitchCase="'dollars'">
                            {{p.summa_usd | number:'2.2-2'}}
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
        </ion-card>
    </div>

    <ion-grid class="alt-title">
        <ion-row>
            <ion-col col-12>Курсы валют</ion-col>
        </ion-row>
    </ion-grid>

    <ion-card>
        <ion-card-content>
            <ion-grid>
                <ion-row *ngFor="let c of currencies">
                    <ion-col>
                        {{c.name}}
                    </ion-col>
                    <ion-col text-right>
                        {{c.value | number:'2.4-4'}}
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
</ion-content>

<ion-footer no-border>
    <ion-toolbar>
        <button block ion-button icon-left (click)="requestClick()">
            <ion-icon name="send"></ion-icon>
            Отправить запрос
        </button>
    </ion-toolbar>
</ion-footer>