<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Примеры декларирования</ion-title>
    </ion-navbar>
    <ion-toolbar>
        <ion-searchbar [(ngModel)]="searchTerm" [formControl]="searchControl" (ionInput)="onSearchInput()" placeholder="Описание или код..."></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-card *ngIf="isShowHint">
        <ion-card-content center text-center>
            <p>Не знаете код ТН ВЭД товара?</p>
            <p>Подберите его по наименованию или описанию товара.</p>
            <p>Или наоборот - найдите описание товара по его коду ТН ВЭД</p>
        </ion-card-content>
    </ion-card>

    <ion-card *ngIf="isShowNotFound">
        <ion-card-content center text-center>
            <p>По вашему запросу ничего не найдено!</p>
            <p>Воспользуйтесь справочником</p>
            <button ion-button (click)="goClick()">ТН ВЭД</button>
        </ion-card-content>
    </ion-card>

    <ion-list>
        <ion-card *ngFor="let item of items">
            <ion-card-content-collapsable [data]="item"></ion-card-content-collapsable>
            <ion-row>
                <ion-col>
                    <button ion-button full icon-left small (click)="tnvedClick(item.code)">
                        <ion-icon name="list"></ion-icon>
                        <div>ТНВЭД</div>
                    </button>
                </ion-col>
                <ion-col>
                    <button ion-button full icon-left small (click)="calcClick(item.code)">
                        <ion-icon name="cube"></ion-icon>
                        <div>Рассчитать</div>
                    </button>
                </ion-col>
            </ion-row>
        </ion-card>
    </ion-list>
</ion-content>