// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.




// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

$colors: ( primary: #ff8b00, secondary: #32db64, danger: #f53d3d, light: #f4f4f4, dark: #222, ) !default;


$text-color:                 #000 !default;
$link-color:                 color($colors, primary) !default;
$background-color:           #f0eff5 !default; // +
$subdued-text-color:         #666 !default;

$font-family-base:           -apple-system, "Helvetica Neue", "Roboto", sans-serif !default;
$font-size-base:             1.6rem !default; // 1.4rem == 14px

$content-padding:            0px !default;
$content-margin:             16px !default;

$toolbar-background:         #fff !default;
$toolbar-border-color:       #e4e4e4 !default;
$toolbar-text-color:         $text-color !default;

$toolbar-md-text-color:      $text-color !default;

$toolbar-active-color:       $link-color !default;
$toolbar-inactive-color:     #8c8c8c !default;

$tabs-background:            #fff !default;
$tabs-border-color:          #e4e4e4 !default;
$tabs-tab-color-inactive:    #000 !default;
$tabs-tab-color-active:      $link-color !default;

$list-text-color:            $text-color !default;
$list-background-color:      #fff !default; // +
$list-border-color:          #e4e4e4 !default;

// Color for android tabs
$tabs-md-tab-color-inactive: $text-color !default;
$tabs-md-tab-text-color: $text-color !default;
$tabs-md-tab-icon-color: $text-color !default;

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

/*
.tabs-md .tab-button-icon {
    color: red !important;
}
*/