<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Калькулятор</ion-title>
    </ion-navbar>
    <ion-toolbar>
        <ion-searchbar [(ngModel)]="searchTerm" [formControl]="searchControl" (ionInput)="onSearchInput()" placeholder="Код ТНВЭД ТС..."></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card *ngIf="isShowHint">
        <ion-card-content center text-center>
            <p>Не нашли или не знаете код - воспользуйтесь справочником</p>
            <button ion-button (click)="tnvedClick()">ТНВЭД ТС</button>
            <p>или подберите код по </p>
            <button ion-button (click)="examplesClick()">Примеры декларирования</button>
        </ion-card-content>
    </ion-card>

    <div *ngIf="isShowCalc" style="padding-bottom: 50px;">
        
        <ion-grid class="alt-title">
            <ion-row>
                <ion-col col-12><h5>{{params?.data?.calc_info?.name}}</h5></ion-col>
            </ion-row>
        </ion-grid>

        <ion-card>
            <ion-card-header>
                Параметры расчета
            </ion-card-header>
            <ion-item>
                <ion-label stacked>Направление перемещения</ion-label>
                <ion-select class="max-width" [(ngModel)]="chosenParams.direction" cancelText="Отмена" interface="action-sheet" (ionChange)="setFilteredItems()">
                    <ion-option value="I">Импорт</ion-option>
                    <ion-option value="E">Экспорт</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label stacked>Страна</ion-label>
                <ion-select class="max-width" [(ngModel)]="chosenParams.country" interface="alert" cancelText="Отмена" [selectOptions]="countrySelectOptions" (ionChange)="setFilteredItems()" (ionFocus)="checkFocus()">
                    <ion-option *ngFor="let c of params?.data?.countries" [value]="c.code">{{c.name}}</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label stacked>Стоимость, дол. США</ion-label>
                <ion-input [(ngModel)]="chosenParams.param_cost" type="tel" min="0"></ion-input>
            </ion-item>
            <!--variable-->
            <ion-item *ngFor="let p of calcParams">
                <ion-label stacked>{{p.name}}<span *ngIf="p.dimension">, {{p.dimension}}</span></ion-label>
                <ion-input [(ngModel)]="chosenParams[p.code]" type="tel" min="0"></ion-input>
            </ion-item>
            <!--special-->
            <ion-item *ngFor="let sp of specialParams">
                <ion-label stacked>{{sp.type_name}}</ion-label>
                <ion-select class="max-width" [(ngModel)]="chosenParams[sp.type]" cancelText="Отмена" interface="action-sheet" (ionChange)="setFilteredItems()">
                    <ion-option *ngFor="let spd of sp?.data" [value]="spd.id">{{spd.name}}</ion-option>
                </ion-select>
            </ion-item>
        </ion-card>

        <ion-grid class="alt-title" *ngIf="statsPrice">
            <ion-row>
                <ion-col col-12>Среднеконтрактные цены, $/кг</ion-col>
            </ion-row>
        </ion-grid>

        <ion-card *ngIf="statsPrice">
            <ion-card-content>
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            Минимум
                        </ion-col>
                        <ion-col text-right>
                            {{statsPrice?.minimum}}
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            Средняя
                        </ion-col>
                        <ion-col text-right>
                            {{statsPrice?.average}}
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            Максимум
                        </ion-col>
                        <ion-col text-right>
                            {{statsPrice?.maximum}}
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <p class="alt-hint">* Данные за полгода</p>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>

<ion-footer no-border>
    <ion-toolbar *ngIf="isShowCalc">
        <button block ion-button icon-left (click)="calcClick()">
            <ion-icon name="calculator"></ion-icon>
            Рассчитать
        </button>
    </ion-toolbar>
</ion-footer>
