page-autocalc {
    .max-width {
        max-width: 100%;
    }

    .label {
        color: #999;
        font-size: 1.4rem !important;
        font-weight: bold;
    }

    .text-input {
        font-style: italic;
    }
}
